.App-logo {
    padding-left: 10px;
    height: 35px;
}

.App-header {
    background-color: #1D428A;
    height: 55px;
    color: white;
    display: flex;
    align-items: center;
}

.Author {
    color: orange;
    flex: 0 1 auto;
}
